<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat and Dog Classifier</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container text-center mt-5">
        <h1 class="display-4">Welcome to the Cat and Dog Classifier</h1>
        <p class="lead">This application allows you to classify images as either a cat or a dog.</p>
        
        <div class="row justify-content-center mt-4">
            <div class="col-md-4">
                <a href="/predict" class="btn btn-primary btn-lg btn-block">Upload an Image to Predict</a>
            </div>
            <div class="col-md-4">
                <a href="/accuracy" class="btn btn-secondary btn-lg btn-block">Check Model Accuracy</a>
            </div>
        </div>
    </div>
</body>
</html>
